    .router-link-active
        color rgb(176, 7, 14)
    .router-link-exact-active
        color rgb(176, 7, 14)
    .fading-enter
      opacity 0
    .fading-enter-to,.fading-leave
      opacity 1
    .fading-leave-to
      opacity 0
    .fading-leave-active,.fading-enter-active
      transition all 1.5s