.Houtai
  .main
    width 85%
    margin 100px auto
    display flex
    justify-content space-between
    .main_menu
      position absolute
      right 10px
      width 300px
      z-index 9999
      height 550px
      margin 120px 50px 0 0
      color black
      margin-bottom 50px
      .type
        margin-top 20px
        width 100%
        height 100%
      .menu_ul
        display flex
        width 100%
        height 50px
        background rgba(255, 240, 240, .8)
        justify-content space-around
        align-items center
        a
          box-sizing border-box
          padding 16px
          border-left 1px solid white
    .main_content
      flex 1
      opacity .7
      height: 600px
      .editor
        width 900px
        min-height:  600px
        height 100%
        overflow auto
        margin 0 auto
      .card
        position relative
        width 40%
        height 120px
        margin 0 auto
        opacity .8
        top -30px